* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #010101;
  color: #fff;
  font-family: raleway_f, sans-serif;
  line-height: 1.55;
}

:root {
}

@font-face {
  font-family: raleway_f;
  src: url(../fonts/2Raleway-Regular.woff2);
}

@font-face {
  font-family: raleway_f;
  src: url(../fonts/2Raleway-Bold.woff2);
  font-weight: 900;
}

.main-header {
  position: relative;
}

.layers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  text-align: center;

  overflow: hidden;
}

.layer {
  height: 100%;
  width: 100%;
  position: absolute;

  background-size: cover;
  background-position: center;

  will-change: transform;
	z-index: 2;
}

.layers__base {
  transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
	z-index: 0;
}

.main-article {
  min-height: 100vh;
}

