*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vh + 1vw);
  --colorText: #e7e7e0;
  --transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

@font-face {
  font-family: raleway_f;
  src: url(../fonts/Raleway-Regular.woff2);
}
@font-face {
  font-family: raleway_f;
  src: url(../fonts/Raleway-Bold.woff2);
  font-weight: 900;
}

body {
  background-color: #010101;

  color: var(--colorText);
  text-shadow: 0 0 15px #bec043;
  font-family: raleway_f, sans-serif;
  line-height: 1.55;
}

.main-header {
  position: relative;
}
.main-header::after {
  content: '';
  height: calc(var(--index) * 10);
  width: 100%;
  position: absolute;
  bottom: calc(var(--index) * -4.5);
  z-index: 100;

  background: url(../image/ground.png) center;
}

.layers__header {
  z-index: 1;
  will-change: transform;

  text-transform: uppercase;
  font-weight: 900;

  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  transition: var(--transition);
  will-change: transform;
}
.layers__caption {
  font-size: calc(var(--index) * 0.9);
  letter-spacing: calc(var(--index) / 2.75);
}
.layers__title {
  margin-bottom: calc(var(--index) * 1);
  font-size: calc(var(--index) * 1.25);
  letter-spacing: calc(var(--index) / 2);
}

.layers {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  text-align: center;

  overflow: hidden;
}
.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;

  background-size: cover;
  background-position: center;

  transition: var(--transition);
  will-change: transform;
}
.layers__base {
  z-index: 0;

  transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
}
.layers__middle {
  transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layers__front {
  transform: translate3d(0, calc(var(--scrollTop) / 5), 0);
}

.main-article {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.main-article__content {
  transform: translate3d(0, calc(var(--scrollTop) / -10), 0);
  transition: var(--transition);
  will-change: transform;
}
.main-article__header {
  text-transform: uppercase;
  letter-spacing: calc(var(--index) / 2);
  font-size: calc(var(--index) * 2.5);
}
.main-article__text {
  padding: var(--index);

  font-size: calc(var(--index) * 1.5);
  opacity: .7;
}

.content {
  will-change: transform;
}

.copy {
  position: absolute;
  bottom: var(--index);

  opacity: .5;
}